@import "~react-image-gallery/styles/css/image-gallery.css";

header {
    padding-top: 6.5rem;
    padding-bottom: 2rem;
}
.show {
    border-top: 2px solid #2079fd !important;
    margin: 10px 0 !important;
}
.navbar-toggler, .banner-bg {
    background: #076c30;
}
.nav-item .nav-link {
    text-transform: uppercase;
}
.show .language {
    margin-left: 0;
}
.content-area {
    padding: 20px 30px;
}
.heading {
    display: table;
    text-transform: uppercase;
    border-bottom: 3px solid #1271fd;
    margin: 0 auto;
    color: #0b4daf;
    padding-bottom: 5px;
}
.img {
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.list-txt {
    padding-left: 0.2rem;
    counter-reset: css-counter 0;
}
.list-txt ol {
    margin: 10px 0;
    counter-increment: css-counter 1;
}
.list-txt ol:before {
    content: "* ";
}
.endtxt {
    margin: 2em auto;
    display: table;
}
.contact-box {
    display: table;
    margin: 0 auto;
    border: 2px double #0d6f35;
    padding: 20px;
    border-radius: 10px;    
}
.notfound {
    width: 30%;
    border-radius: 100%;
    margin: 5% auto;
    display: table;
}

.not-fount-txt {
    display: table;
    margin: 0 auto 5%;
    font-style: italic;
}

.newImg {
    width: 100px;
}
.velImg {
    display: table;
    margin: 20px auto;
    width: 10%;
}
.content-head {
    color: #076c30;
    font-weight: bold;
    margin-bottom: 20px;
}

.newevents, .newevents:hover, .newevents:active {
    text-align: center;
    color: #fbff02;
}

.imgEvent {
    width: 500px;
    margin: 0 auto;
    display: table;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
}

@media screen and (max-width:480px) {
    .imgEvent {
        width: 100%;
    }
    .velImg {
        display: table;
        margin: 40px auto;
        width: 50%;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 16px;
    }
}
/* PHOTO ALBUM */

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    height: 50px;
}
.image-gallery {
    background: rgba(0,0,0,0.8);
}

.quote:before, .quote:after {
    content: '"';
    font-style: italic;
}
.startquote {
    font-style: italic;
    text-align: center;
}